.c-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}
.card {
    min-height: 300px;
    min-width: 200px;
    max-height: 300px;
    max-width: 200px;
    padding: 1rem;
    h2 {
        font-weight: 600;
    }
    &--img {
     
    }
}