nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    height: 5rem;
    background: var(--shadow);
    a {
        padding: 0.5rem;
        margin: 1rem;
        font-weight: 600;
        font-size: 1.125rem;
        color: var(--gray);
        letter-spacing: 2px;
        transition: 0.3s;
    }
    a:hover {
        color: var(--orange);
    }
}

.wallet-ico, .wallet-ico-swing {
    width: 100px;
    height: 100px;
    background: url(../../assets/icons/wallet-svg.svg) no-repeat center;
    background-size: cover;
    cursor: pointer;
    animation-name: none;
}

.wallet-ico-swing {
    animation-name: swing;
    animation-duration: 1s;
}


@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
