nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    height: 5rem;
    background: var(--shadow);
    a {
        padding: 0.5rem;
        margin: 1rem;
        font-weight: 600;
        font-size: 1.125rem;
        color: var(--gray);
        letter-spacing: 2px;
        transition: 0.3s;
    }
    a:hover {
        color: var(--orange);
    }
}