.cErro, .cMsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.cMsg {
    font-size: 22px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
}
.cErro {
    height: calc(80vh - 20px);
}

.cIcon {
    background: url(../../assets/icons/error-icon.png) no-repeat center;
    height: 200px;
    width: 200px;
}